---
layout: default
title: Chris' Blag
---
{% assign first = true %}
{% include JB/setup %}
{% for post in site.posts %}
<header id="begin">
	{% if first == true %}
		{% assign first = false %}
	<time datetime="{{ post.date }}" id="top_time">{{ post.date | date: "%d %B %Y" }}</time>
	{% endif %}
</header>
<article class="post">
	<h2 class="entry-title">
		<a href="{{ post.url }}" class="no-link" title="Permalink to {{ post.title }}" rel="bookmark">{{ post.title }}</a>
	</h2>
	{{ post.content }}
</article>
{% endfor %}
