@import "constants";

img {
  max-width: 100%;

  // Ensure non max width images are centered and captions are on the next line
  display: block;
  margin: 0 auto;
}

p a {
  text-decoration: underline;
}

.p {
  max-width: 800px;
  padding: 24px 40px;

  // 'Read more' link
  p:last-child a:last-child {
    display: block;
    margin-top: 40px;
    font-weight: 700;
    text-decoration: none;
  }
}

.caption {
  font-size: 80%;
  text-align: center;
}

.cn {
  width: 100%;
  text-align: center;
}
