@import "constants";

article {
  max-width: 600px;
  h2 {
    margin-top: 0;
    a.anchor {
      border-bottom: 0;
      margin-left: 10px;
    }
  }
  img {
    display: block;
    padding: 0;
    width: 100%;
    float: none;
  }
}

.post {
  display: block;
  position: relative;
  padding: 40px;
  border-top: 1px solid #e2e2e2;
  min-height: 130px;
  overflow-x: hidden;
  ul {
    max-width: auto;
    min-width: 0;
    padding-right: 10px;
  }
  h2 a {
    color: #000;
    font-size: 25px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
  }
  h2 {
    font-size: 20px;
  }
  ul {
    list-style-type: disc;
    max-width: 470px;
  }
  ul li,
  ol li {
    line-height: 25px;
    color: #4d4d4d;
    display: list-item;
    margin: 5px 0 5px 0;
  }
  ol {
    max-width: 470px;
  }
  @media (max-width: $responsive_start) {
    padding: 15px;
    &.post:first-of-type {
      border: none;
    }
    p,
    li {
      font-size: 17px;
      line-height: 27px;
    }
    hr {
      width: 80%;
      margin: 35px auto 30px;
    }
    img {
      width: 100%;
    }
  }
}

.caption {
  font-size: 80% !important;
  text-align: center;
  font-style: italic;
}

.continue-reading {
  padding: 7px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 20px;
  color: #767676;
  margin-top: 10px;
  display: inline-block;

  &:hover {
    background-color: $blue;
    color: white;
    border-color: $blue;
  }

  @media (max-width: $responsive_start) {
    margin: 10px auto;
    display: block;
    text-align: center;
  }
}
