@import "constants";

img {
  width: 100%;
}

p a {
  text-decoration: underline;
}

.p {
  max-width: 600px;
  padding: 24px 40px;

  // 'Read more' link
  p:last-child a:last-child {
    display: block;
    margin-top: 40px;
    font-weight: 700;
  }
}

.caption {
  font-size: 80%;
  text-align: center;
}
