nav.pagination {
	padding: 40px;
	border-top: 1px solid #e2e2e2;
	padding-bottom: 60px;
    span {
        display: none;
    }
    span.next {
    	display: block;
    	float: right;
    }
    span.prev {
    	display: block;
    	float: left;
    }
}
