@import "constants";

#logo {
  margin: 0;
  img {
    margin-top: 25px;
    max-width: 200px;
    width: 100%;
  }
}

// menu bar
#b {
  padding: 24px 30px;
  box-sizing: border-box;
  border-right: 1px solid #e3e3e3;
  position: sticky;
  align-self: flex-start;
  top: 0px;
  height: 100vh;
}

// mobile menu
#m {
  display: none;
  float: right;
  font-size: 20px;
}
