#river {
  margin-left: 26%;
  border-left: 1px solid #e3e3e3;
  @media (max-width: $responsive_start) {
    margin-left: 0;
    border-left: none;
  }
}

@media (max-width: $responsive_start) {
  ul#user_nav li {
    display: block;
    margin: 0;
  }

  ul#user_nav li.feed {
    display: none;
  }

  header.begin {
    display: none;
  }

  nav.pagination {
    padding: 0 10px 0 10px;
  }

  #sidebar {
    padding-bottom: 10px;
  }
}

/* Navigation */

#user_nav {
  position: relative;
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  margin: 30px 0 0 0;
  @media (max-width: $responsive_start) {
    margin-top: 0px;
    float: right;
    width: 100%;
    padding: 0;
    max-height: 0px;
    top: 6px;
  }
}

#menu {
  padding: 0px 30px 0px 30px;
  a {
    display: inline-block;
    font-size: 17px;
    color: $lt_grey;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 17px;
    &:hover {
      color: #000;
      border-color: #000;
    }
  }
  @media (max-width: $responsive_start) {
    padding: 0;
    li {
      display: block;
      a {
        display: block;
        border: none;
        position: relative;
        margin: 0;
        padding: 15px;
        font-size: 20px;
        border-radius: 0px;
        margin: 0 -10px 0 -10px;
        &,
        &:hover,
        &.active {
          border-top: 1px solid #e2e2e2 !important;
        }
      }
      &.active {
        border-top: none;
      }
    }
  }
}

#social_icons {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
  padding: 0px 30px 0px 30px;
  a {
    text-align: center;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    display: inline-block;
  }
  @media (max-width: $responsive_start) {
    position: relative;
    display: inline-block;
    padding: 15px 0px 15px 0px;
    border-top: 1px solid #e2e2e2 !important;
    width: 100%;
  }
}

// Path is only used in the social media icons
path {
  fill: #585858;
}

#open_menu:checked ~ #user_nav {
  max-height: 50vh;
}
