@import "constants";

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* Navigation */

#u {
  transition: max-height 0.3s ease-out;
  overflow: hidden; // Ensure menu is not visible until nav is expanded
}

// menu
#e {
  a {
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 17px;
    font-size: 20px;
  }
}

#s {
  position: absolute;
  bottom: 0;
  padding-bottom: 24px;
  a {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    display: inline-block;
  }
}

// Ensure the correct colour is used for the social media icons
path {
  fill: #585858;
}

// #o is the checkbox used to control the mobile responsive menu
#o {
  display: none;
}

#o:checked ~ #u {
  max-height: 50vh;
}
