@import "constants";
@import "article";
@import "sidebar";
@import "header";
@import "footer";

body {
  font-family: $body_font;
  margin: 0;
  display: flex;
  @media (max-width: $responsive_start) {
    flex-direction: column;
  }
}

a,
p,
li {
  color: #4d4d4d;
}

a {
  text-decoration: none;
  &:hover,
  .active {
    color: #000;
  }
}

p,
li {
  line-height: 23px;
  margin: 20px 0;
  text-align: justify;
}
