$tablet-breakpoint: 880px;
$mobile-breakpoint: 400px; 

:root {
  --font: 'Inconsolata', monospace;
  --bg-color: rgb(247, 247, 247);
  --text-color: #474747;
  --highlight-color: rgb(238, 123, 30);
}

body, html {
  width: 100%;
  min-height: 100%;

  @media(min-width: $tablet-breakpoint) {
    height: 100%;
  }
}

body {
  box-sizing: border-box;
  font-family: var(--font);
  margin: 0;
  display: flex;
  background-color: var(--bg-color);
  padding: 25px;
}

p, a {
  color: var(--text-color);
}

#outer {
  width: 100%;

  @media(min-width: 881px) {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#inner {
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  column-gap: 50px;

  > div {
    display: flex;
    flex-direction: column;

    @media(min-width: 881px) {
      width: 50%;
    }
  }

  #avatar {
    justify-content: flex-end;
    align-items: center;
  }

  p {
    letter-spacing: 0.125rem;
    width: calc(100% + 0.125rem);
    font-size: 16px;
    line-height: 1.875;
  }


  @media(min-width: 881px) {
    width: 992px;

    img {
      max-width: 100%;
    }
  }

  @media(max-width: $tablet-breakpoint) {
    flex-direction: column-reverse;
     img {
      width: 300px;
      max-width: 100%;
     }
  }
}

#links {
  display: flex;
  flex: 1;
  align-items: flex-end;
  column-gap: 20px;

  @media(max-width: $mobile-breakpoint) {
    row-gap: 20px;
    align-items: flex-start;
    flex-direction: column;
  }

  a {
    background-color: white;
    max-width: 120px;
    padding: 15px 20px;
    font-size: 17px;
    letter-spacing: 2px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    transition: background-color 0.25s ease;
    text-decoration: none;

    &:hover {
      color: #474747;
      background-color: rgba(238, 123, 30, 0.2);
    }

    @media(max-width: $tablet-breakpoint) {
      padding: 15px 10px;
    }

    @media(max-width: $mobile-breakpoint) {
      width: 100%;
      max-width: 100%;
    }
  }

  svg {
    margin-right: 10px;
    color: var(--highlight-color);
    fill: var(--highlight-color);
  }
}

h1 {
  font-size: 70px;
  margin: 0 0 20px;
  font-weight: 700;
  color: rgb(71, 71, 71);
  
  @media(max-width: $tablet-breakpoint) {
    font-size: 56px;
    text-align: center;
    margin-top: 36px;
  }
}
