---
theme:
  name: jb-svbtle
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name='viewport' content='width=device-width'>
    <meta name='description' content="{{page.description}}" />
    <link rel='icon' type='image/png' href='/assets/images/icon.png' />
    <title>{{page.title}}</title>
    <style>{% include style.min.css %}</style>
  </head>
  <body>
    <div id="sidebar">
      <a id="logo" href="/">
        <picture>
          <source srcset="/assets/images/developer-koala-mobile.webp" type="image/webp" media="(max-width: 750px)">
          <source srcset="/assets/images/developer-koala.webp" type="image/webp">
          <img alt="koala" src="/assets/images/developer-koala.jpg" />
        </picture>
      </a>
      <h1><a href="/">{{site.author.name}}</a></h1>
      <label for='open_menu' id='mobile_menu'>&#9776;</label>
      <input type='checkbox' id='open_menu' />
      <div id="user_nav">
        <div id="menu">
          {% assign pages_list = site.pages %}{% assign group = 'navigation' %}{% include pages_list %}
        </div>
        <div id="social_icons">
          <a href="http://www.twitter.com/{{ site.author.twitter }}" aria-label="twitter">{% include images/twitter.svg %}</a>
          <a href="http://www.github.com/{{ site.author.github }}" aria-label="github">{% include images/github.svg %}</a>
          <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" aria-label="linkedin">{% include images/linkedin.svg %}</a>
        </div>
      </div>
    </div>
    <div id="main">{{content}}</div>
  </body>
</html>
