---
theme:
  name: jb-svbtle
---

<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.5, minimum-scale=0.5'>
    <link rel='icon' type='image/png' href='/assets/images/icon.png' />
    <title>{{page.title}}</title>
    <link rel='profile' href='http://gmpg.org/xfn/11' />
    <meta property='og:locale' content='en_US' />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='http://www.chrislewis.com.au/' />
    <meta property='og:title' content="{{page.title}}" />
    <meta property='og:description' content='{{page.description}}' />
    <meta property='og:image' content='{{page.image}}' />
    <meta property='fb:admins' content='{{site.author.facebook}}' />
    <style type="text/css">{% include style.min.css %}</style>
  </head>
  <body class="home blog">
    <header id="sidebar">
      <figure class="logo medium">
      <a href="/">
        <picture>
          <source srcset="/assets/images/developer-koala.webp" type="image/webp">
          <img src="/assets/images/developer-koala.jpg" alt="developer koala" />
        </picture>
      </a>
      </figure>
      <h1><a href="/">{{site.author.name}}</a></h1>
      <a href='#' id='mobile_menu' onClick='toggle_menu()'>{% include images/bars.svg %}</a>
      <ul id="user_nav">
        <li id="menu">
          <ul>{% assign pages_list = site.pages %}{% assign group = 'navigation' %}{% include pages_list %}</ul>
        </li>
        <li id="social_icons">
          <a href="http://www.twitter.com/{{ site.author.twitter }}">{% include images/twitter.svg %}</a>
          <a href="http://www.github.com/{{ site.author.github }}">{% include images/github.svg %}</a>
          <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}">{% include images/linkedin.svg %}</a>
          <a href="/pages/rss.xml">{% include images/feed.svg %}</a>
        </li>
      </ul>
    </header>
    <section id="river" role="main" onClick="toggle_menu('')">{{content}}</section>
    <script type='text/javascript'>{% include base.js %}</script>
  </body>
</html>
